@model IEnumerable<Somativa_2.Models.PacientesModel>

@{
    ViewData["Title"] = "Index";
}




<h1 class="text-center fw-bold">CONFIRA NOSSOS PACIENTES</h1>

<p class="d-none">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<!-- Descrição adaptada para diferentes tamanhos de tela -->
<p class="m-3 text-center d-none d-xl-block" style="font-size:20px">
    Sua saúde é o nosso maior compromisso. Com o Viva+, você e sua família contam com uma rede completa de profissionais e serviços dedicados ao seu bem-estar.
</p>
<p class="m-3 d-block d-xl-none" style="font-size:20px;text-align:justify">
    Sua saúde é o nosso maior compromisso. Com o Viva+, você e sua família contam com uma rede completa de profissionais e serviços dedicados ao seu bem-estar.
</p>

<!-- Tabela Responsiva para desktop e tablets -->
<div class="table-responsive d-none d-md-block">
    <table class="table table-bordered">
        <thead class="table-primary text-center" style="background-color: #d0e5f5;">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.CPF)</th>
                <th>@Html.DisplayNameFor(model => model.RG)</th>
                <th>@Html.DisplayNameFor(model => model.Data_de_nascimento)</th>
                <th class="d-none d-lg-table-cell">@Html.DisplayNameFor(model => model.Endereco)</th>
                <th class="d-none d-lg-table-cell">@Html.DisplayNameFor(model => model.Telefone)</th>
                <th>@Html.DisplayNameFor(model => model.PlanodeSaude)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="8" class="text-center">Nenhum paciente encontrado.</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr class="align-middle text-center">

                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.CPF)</td>
                        <td>@Html.DisplayFor(modelItem => item.RG)</td>
                        <td>@item.Data_de_nascimento.ToString("dd/MM/yyyy")</td>
                        <td class ="d-none d-lg-table-cell">@Html.DisplayFor(modelItem => item.Endereco)</td>
                        <td class="d-none d-lg-table-cell">@Html.DisplayFor(modelItem => item.Telefone)</td>
                        <td class="d-flex justify-content-center">
                            <img src="~/img/@item.PlanodeSaude.img" alt="Plano de Saúde" style="width: 50px; height:50px; border-radius:10px;" />
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <a asp-action="Details" asp-route-id="@item.PacienteId" class="btn btn-link">
                                    <i class="bi bi-folder2-open" style="color: #157EBB; font-size: 25px;"></i>
                                </a>
                                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.PacienteId">
                                    <i class="bi bi-trash-fill" style="color: #157EBB; font-size: 25px;"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!-- Versão em Cards para celular -->
<div class="d-block d-md-none">
    @if (!Model.Any())
    {
        <p class="text-center">Nenhum paciente encontrado.</p>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center m-2 ">@item.Nome</h5>
                    <div class="d-flex m-2">
                    <p class="w-50"><strong>CPF:</strong> @item.CPF</p>
                    <p class="w-50"><strong>RG:</strong> @item.RG</p>
                    </div>
                    <div class="d-flex m-2">
                        <p class="w-50"><strong>Telefone:</strong> @item.Telefone</p>
                        <p class="w-50"><strong>Plano de Saúde:</strong> @item.PlanodeSaude.Nome</p>
                    </div>
                    <div class="m-2">
                    <p><strong>Data de Nascimento:</strong> @item.Data_de_nascimento.ToString("dd/MM/yyyy")</p>
                    <p><strong>Endereço:</strong> @item.Endereco</p>
                    </div>
                  
                    <!-- Botões de ação -->
                    <div class="mt-3 d-flex justify-content-center">
                        <a asp-action="Details" asp-route-id="@item.PacienteId" class="btn btn-primary btn-sm m-2">Detalhes</a>
                        <button class="btn btn-danger btn-sm m-2" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.PacienteId">Excluir</button>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="container mb-5">
    <h1 class="m-2 p-2">Confira as perguntas mais recentes</h1>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion">
            <h2 class="accordion-header " id="flush-headingOne">
                <button class="accordion-button collapsed m-2" style="background-color:#F1F1F1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Quais são as melhores práticas para manter minha saúde (exercícios, dieta, etc.)?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Cada pessoa é única, e o que funciona para uma pessoa pode não funcionar para outra. É sempre uma boa ideia consultar um profissional de saúde ou nutricionista antes de fazer mudanças significativas na dieta ou na rotina de exercícios. Mantenha-se informado e faça ajustes conforme necessário para se adequar ao seu estilo de vida e necessidades pessoais.
                </div>
            </div>
        </div>
        <div class="accordion">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed m-2" style="background-color:#F1F1F1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Que fatores de risco eu deveria monitorar?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Cada pessoa é única, e o que funciona para uma pessoa pode não funcionar para outra. É sempre uma boa ideia consultar um profissional de saúde ou nutricionista antes de fazer mudanças significativas na dieta ou na rotina de exercícios. Mantenha-se informado e faça ajustes conforme necessário para se adequar ao seu estilo de vida e necessidades pessoais.
                </div>
            </div>
        </div>
    </div>
    <div class="accordion">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed m-2" style="background-color:#F1F1F1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Como posso entrar em contato com você caso tenha mais perguntas após a consulta?
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Cada pessoa é única, e o que funciona para uma pessoa pode não funcionar para outra. É sempre uma boa ideia consultar um profissional de saúde ou nutricionista antes de fazer mudanças significativas na dieta ou na rotina de exercícios. Mantenha-se informado e faça ajustes conforme necessário para se adequar ao seu estilo de vida e necessidades pessoais.
            </div>
        </div>
    </div>
    <div class=" accordion">
        <h2 class="accordion-header" id="flush-headingFor">
            <button class="accordion-button collapsed m-2" style="background-color:#F1F1F1" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFor" aria-expanded="false" aria-controls="flush-collapseFor">
                Como o estresse pode afetar minha saúde, e o que posso fazer para gerenciá-lo?
            </button>
        </h2>
        <div id="flush-collapseFor" class="accordion-collapse collapse" aria-labelledby="flush-headingFor" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                Cada pessoa é única, e o que funciona para uma pessoa pode não funcionar para outra. É sempre uma boa ideia consultar um profissional de saúde ou nutricionista antes de fazer mudanças significativas na dieta ou na rotina de exercícios. Mantenha-se informado e faça ajustes conforme necessário para se adequar ao seu estilo de vida e necessidades pessoais.
            </div>
        </div>
    </div>

</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir este item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form asp-action="Delete" method="post">
                    <input type="hidden" id="deleteId" name="id" value="" />
                    <button type="submit" class="btn btn-danger">Excluir </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var id = button.getAttribute('data-id');
            var deleteIdInput = deleteModal.querySelector('#deleteId');
            deleteIdInput.value = id;
        });
    </script>
}
